<h1>Master Type Index (Show)</h1>
<div>
<p>dd{{model.mTypeName}}</p>
<p>{{model.mTypeCode}}</p>
<!--<ul class="friend-profile-links">-->
    <!--<li>{{link-to 'Edit info' 'friends.edit'}}</li>-->
    <!--<li>{{link-to 'Lend article' 'articles.new'}}</li>-->
    <!--<li><a href="#" {{action "delete" model}}>Delete</a></li>-->
<!--</ul>-->
</div>